<%= form_with(model: @task, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

    <div class="field">
    <%= form.label :deadline_on %>
    <%= form.date_field :deadline_on %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, options_for_select(Task.priorities.keys.map{ |k| [I18n.t("activerecord.enums.priority.#{k}"), k] }), {include_blank: true} %>
    <%# ダブルクォーテーションじゃないと、文字列の展開はできない。注意%>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Task.statuses.keys.map{ |k| [I18n.t("activerecord.enums.status.#{k}"), k] }), { include_blank: true } %>
  </div>


  <div class="action">
    <% if @task.new_record? %>
      <%= form.submit id: "create-task" %>
    <% else %>
      <%= form.submit id: "update-task" %>
    <% end %>
  </div>
<% end %>

<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <% unless message.include?("Userを入力してください") %> <%#user_id：のnotnull制約を追加があるので、反応してしまう%>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>