<%= form_with(model: @task, local: true, class:"px-4 py-3") do |form| %>

  <div class="mb-3 field">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="mb-3 field">
    <%= form.label :content, class:"form-label" %>
    <%= form.text_area :content, class:"form-control" %>
  </div>

    <div class="mb-3 field">
    <%= form.label :deadline_on, class:"form-label" %>
    <%= form.date_field :deadline_on, class:"form-control" %>
  </div>

  <div class="mb-3 field">
    <%= form.label :priority, class:"form-label" %>
    <%= form.select :priority, options_for_select(Task.priorities.keys.map{ |k| [I18n.t("activerecord.enums.priority.#{k}"), k] }), {include_blank: true}, class:"form-control" %>
    <%# ダブルクォーテーションじゃないと、文字列の展開はできない。注意%>
  </div>

  <div class="mb-3 field">
    <%= form.label :status, class:"form-label" %>
    <%= form.select :status, options_for_select(Task.statuses.keys.map{ |k| [I18n.t("activerecord.enums.status.#{k}"), k] }), { include_blank: true }, class:"form-control" %>
  </div>

  <div class="mb-3 field">
    <%= form.label :label, class:"form-label" %>
    <div class="form-check form-check-inline">
      <% Label.all.where(user_id:current_user.id).each do |label|%>
        <div>
          <%= form.check_box :label_ids, { multiple: true, include_hidden: false}, label[:id], class:"form-check-input" %>
        </div>
        <div class="px-2">
          <span class="form-check-label"><%= form.label :label_ids, label.name, value: label.id %></span>
          <%# <%= form.label :label_ids, label.name, value: label.id
          ここでチェックボックスに対して、label要素の「for」属性で紐づけしておかないとチェックボックスを押すというテストは実行できない。%>
        </div>
      <% end %>
    </div>
    <%# label_idsを取り出して、表示する。
        multipleは複数の値を配列形式のパラメータで送ることができるparams[:task][:label_ids]
        実際に送られるパラメータ→"task"=>{"title"=>"testupdate"色んなパラメータ, "label_ids"=>["9", "10", "7", "16"]}
        include_hidden:falseはチェックが無かったラベルの値を送信しない。check_boxの値はfalseだと0で送信されるから%>
  </div>

  <div class="action">
    <% if @task.new_record? %>
      <%= form.submit id: "create-task", class:"btn btn-primary" %>
    <% else %>
      <%= form.submit id: "update-task", class:"btn btn-primary" %>
    <% end %>
  </div>
<% end %>

<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <% unless message.include?("Userを入力してください") %> <%#user_id：のnotnull制約を追加があるので、反応してしまう%>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>