<h1 class="p-2"><%= t('.title') %></h1>

<%# 検索実行時に非同期通信しないので、locl: trueにしている%>
<%= form_with(scope: :search, url: tasks_path, method: :get, local: true, class:"row gy-2 gx-3 mb-3") do |form| %>
<div class="col-md-2 mt-3">
  <%= form.label :status, I18n.t("activerecord.attributes.task.status"), class:"form-label" %>
  <%= form.select :status, options_for_select(Task.statuses.keys.map{ |k| [I18n.t("activerecord.enums.status.#{k}"), k] }), { include_blank: true }, class:"form-select form-control" %>
</div>
<div class="col-md-5 mt-3">
  <%= form.label :title, I18n.t("activerecord.attributes.task.title"), class:"form-label" %>
  <%= form.text_field :title, value: (@search_params.present? ? @search_params[:title] : ""), class:"form-control" %>
  <%# (@search_params.present? ? @search_params[:title] : "") タイトル検索をしていれば、それがsearch_paramsに入る。なければ、テキストボックスには""が表示される%>
</div>
<div class="col-md-5 mt-3">
  <%= form.label :label, Label.human_attribute_name(:label), class:"form-label" %>
  <%= form.select :label, current_user.labels.map { |label| [label.name,label.id] } , { include_blank: true }, class:"form-select form-control" %>
</div>
<div class="col-md-2 mt-3 float-right">
  <%= form.submit t('common.search'), id: "search_task", class:"btn btn-primary b-block w-100" %>
  <%# form.submit＝data-disable-with属性。一度クリックされるとボタンが無効となる。二重サブミット対策%>
</div>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= Task.human_attribute_name(:title) %></th>
      <th scope="col"><%= Task.human_attribute_name(:content) %></th>
      <th scope="col"><%= Task.human_attribute_name(:created_at) %></th>
      <th scope="col"><%= link_to Task.human_attribute_name(:deadline_on), tasks_path(deadline_asc_sort: "true") %></th>
      <th scope="col"><%= link_to Task.human_attribute_name(:priority), tasks_path(priority_high_sort: "true") %></th>
      <th scope="col"><%= Task.human_attribute_name(:status) %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= task.deadline_on %></td>
        <td><%= I18n.t("activerecord.enums.priority.#{task.priority}") %></td>
        <td><%= I18n.t("activerecord.enums.status.#{task.status}") %></td>
        <td><%= link_to t('common.show'), task_path(task), class:"show-task btn btn-primary" %></td>
        <td><%= link_to t('common.edit'), edit_task_path(task), class:"edit-task btn btn-primary" %></td>
        <td><%= link_to t('common.destroy'), task, method: :delete, data: { confirm: t('common.confirm_destroy') }, class:"destroy-task btn btn-danger" %></td>
      </tr>
    <% end %>
        <%= paginate @tasks %>
  </tbody>
</table>
