<h1 class="p-2"><%= t('.title') %></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= Label.human_attribute_name(:name) %></th>
      <th scope="col"><%= User.human_attribute_name(:task_count) %></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.tasks.count %></td>
        <td><%= link_to t('common.edit'), edit_label_path(label), class: "edit-task btn btn-primary" %></td>
        <td><%= link_to t('common.destroy'), label, method: :delete, data: { confirm: t('common.confirm_destroy') }, class: "destroy-task btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
