<%= form_with(model: user, local: true, class:"px-4 py-3") do |form| %>

  <div class="mb-3 field">
    <%= form.label :name, class:"form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="mb-3 field">
    <%= form.label :email, class:"form-label" %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="mb-3 field">
    <%= form.label :password, class:"form-label" %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <div class="mb-3 field">
    <%= form.label :password_confirmation, class:"form-label" %>
    <%= form.password_field :password_confirmation, class:"form-control" %>
  </div>

  <div class="actions">
    <% if @user.new_record? %>
      <%= form.submit id: "create-user", class:"btn btn-primary" %>
    <% else %>
      <%= form.submit id: "update-user", class:"btn btn-primary" %>
    <% end %>
  </div>

  <% if user.errors.any? %>
  <div id="error_explanation"> <%# railsのデフォルトのエラー用スタイルが適用できる。%>
    <h2><%= pluralize(user.errors.count, "error") %> prohibited this from being saved:</h2>
    <ul>
      <% user.errors.full_messages.each do |attr, message| %>
        <li><%= "#{attr} #{message}" %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<% end %>

