<h1 class="p-2"><%= t('.title') %></h1>

<p class="h5 p-2">
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p class="h5 p-2">
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p class="h5 p-2">
  <strong><%= User.human_attribute_name(:admin) %>:</strong>
  <%= @user.admin? ? "あり" : "なし" %>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= Task.human_attribute_name(:title) %></th>
      <th scope="col"><%= Task.human_attribute_name(:content) %></th>
      <th scope="col"><%= Task.human_attribute_name(:created_at) %></th>
      <th scope="col"><%= link_to Task.human_attribute_name(:deadline_on), tasks_path(deadline_asc_sort: "true") %></th>
      <th scope="col"><%= link_to Task.human_attribute_name(:priority), tasks_path(priority_high_sort: "true") %></th>
      <th scope="col"><%= Task.human_attribute_name(:status) %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= task.deadline_on %></td>
        <td><%= I18n.t("activerecord.enums.priority.#{task.priority}") %></td>
        <td><%= I18n.t("activerecord.enums.status.#{task.status}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('common.back'), admin_users_path, id: "back", class:"btn btn-link" %>
