<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p> <%# このpでフラッシュメッセージ%>
    <% if logged_in? %>
      <% if current_user.admin? %>
      <ul>
        <li><%= link_to "ユーザ一覧", admin_users_path, id: "users-index" %></li>
        <li><%= link_to "ユーザを登録する", new_admin_user_path, id: "add-user" %></li>
      <% end %>
        <li><%= link_to "タスク一覧", tasks_path %></li>
        <li><%= link_to "タスクを登録する", new_task_path %></li>
        <li><%= link_to "アカウント設定", user_path(current_user.id), id: "account-setting" %></li>
        <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete, id:"sign-out" %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "アカウント登録", new_user_path, id: "sign-up" %></li>
        <li><%= link_to "ログイン", new_session_path, id: "sign-in" %></li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
