<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p> <%# このpでフラッシュメッセージ%>
    <% if logged_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
      <ul class="nav justify-content-end">
        <% if current_user.admin? %>
          <li class="nav-item"><%= link_to "ユーザ一覧", admin_users_path, id: "users-index", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ユーザを登録する", new_admin_user_path, id: "add-user", class: "nav-link" %></li>
        <% end %>
          <li class="nav-item"><%= link_to "タスク一覧", tasks_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "タスクを登録する", new_task_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ラベル一覧", labels_path, id: "labels-index", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ラベルを登録する", new_label_path, id: "new-label", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "アカウント設定", user_path(current_user.id), id: "account-setting", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "ログアウト", session_path(current_user.id), method: :delete, id:"sign-out", class: "nav-link" %></li>
      </ul>
    </nav>
    <% else %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
      <ul class="nav justify-content-end">
        <li class="nav-item"><%= link_to "アカウント登録", new_user_path, id: "sign-up", class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログイン", new_session_path, id: "sign-in", class: "nav-link" %></li>
      </ul>
    </nav>
    <% end %>
  <div class="container">
    <%= yield %>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
